html {
  font-family: 'Quicksand', sans-serif !important;
  background-color: #DEE8F1 !important;
}

button {
  color: #AAFBFF;
}

body {
  margin-top: 0;
  text-align: center;
  color: black;
  background-color: #DEE8F1;
  align-items: center;
}

.container-fluid {
  margin-left: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.gestor {
  border-style: solid;
  border-radius: 2px;
  border-color: black;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #018AC0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

#content {
  padding-left: 250px;
  /* width: 100%; */
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */
#sidebar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  position: fixed;
  left: 250px;
  right: 250px;
  width: 500px;
  height: 100%;
  overflow-y: auto;
  background: #AAFBFF;
}

ul.nav {
  font-size: 28px;
}

#sidebar header {
  background-color: #018AC0;
  font-size: 2vw;
  line-height: 5vw;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav {
  padding-left: 10px;
  list-style: none;
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid #455A64;
  color: #004481;
  font-size: 14px;
  text-decoration: none;
}

#sidebar .nav a:hover {
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i {
  margin-right: 16px;
}

.capsalera {
  color: white;
  text-align: center;
  background-color: #004481;
  margin-bottom: 10px;
  margin-top: 0px;
}

.boto {
  box-sizing: border-box;
}

.boto:hover, .boto :focus {
  /* box-sizing: border-box; */
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

#llistarpropostes {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#llistarpropostes td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#llistarpropostes tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
  width: 100%;
  background: #001B48;
  color: white;
  margin-top: 50px;
}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  background: #001B48;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.column1 {
  max-width: 400px;
}

.column1 h1 {
  font-size: 22px;
}

.column1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.column2 {
  max-width: 400px;
}

.column2 h1 {
  font-size: 22px;
}

.links-nav a {
  margin-top: 20px;
  color: #C7C7C7;
  text-decoration: none;
}

ul {
  list-style: none;
}

.column3 {
  max-width: 400px;
}

.column3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 250px;
  color: #C7C7C7;
}

.container_footer {
  width: 100%;
  background: #001B48;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #001B48;
}

.copyright {
  color: #C7C7C7;
}

.informacio_politica {
  text-decoration: none;
}

.menufooter {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .capsalera {
    color: #800080 !important;
    /* text-align: center;
        background-color: #000000;
        margin-bottom: 10px;
        margin-top: 0px;*/
  }

  label {
    font-size: 20px;
  }

  button {
    font-size: 20px;
  }

  #sidebar .nav a {
    /* display: none; */
    /* flex-direction: row; */
    /* margin-left: 30px; */
    font-size: 30px;
    width: 100%;
  }

  header a {
    font-size: 15px;
  }

  #sidebar {
    margin-right: 100px;
    width: 96%;
    flex-direction: column;
    position: relative;
    margin-top: auto;
    padding-left: 0;
    /* padding-left: 8px;
        margin-top: 125px;
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 250px;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #37474F; */
  }

  #content {
    width: 100%;
    margin-left: -250px;
  }

  .container-fluid {
    width: 80%;
  }

  /* body {} */
  /* .header {
      width: 100%;
    } */
}